<div class="container">
    <div class="row">
        <div class="col-sm-9 col-md-7 col-lg-5 mx-auto">
            <div class="card card-signin my-5">
                <div class="card-body">
                    <div class="text-center" *ngIf="logeado;else deslogear">
                        <h3>Buenas {{user}} ¿Quieres cerrar sesión?</h3>
                        <button (click)="cerrarSesion()" class="mt-3 btn btn-lg btn-primary btn-block text-uppercase"
                            type="submit">Cerrar sesión</button>
                    </div>
                    <ng-template #deslogear>
                        <h5 class="card-title text-center">Login</h5>
                        <form class="form-signin">
                            <div class="form-label-group">
                                <label for="usuario">Usuario</label>
                                <input type="text" id="usuario" #usuario class="form-control" placeholder="Nombre de usuario"
                                    required autofocus>
                            </div>
                            <label for="contrasena">Contraseña</label>
                            <div class="form-label-group">
                                <input type="password" id="contrasena" #contrasena class="form-control" placeholder="Contraseña"
                                    required>
                            </div>
                            <div class="text-white bg-danger mt-3 text-center" *ngIf="loginCorrecto == false">
                                Nombre de usuario y/o Contraseña incorrecto. 
                            </div>
                            <button (click)="iniciarSesion(usuario.value, contrasena.value)"
                                class="mt-3 btn btn-lg btn-primary btn-block text-uppercase" type="submit">Iniciar
                                Sesión</button>
                        </form>
                    </ng-template>

                </div>
            </div>
        </div>
        
    </div>
    <button [routerLink]="['']" routerLinkActive="router-link-active"  class="btn btn-success">Volver al index</button>
</div>