<div class="page-wrap d-flex flex-row align-items-center">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-12 text-center">
                <span class="display-1 d-block">404</span>
                <div class="mb-4 lead">UPS! Parece que aquí no hay nada que ver.</div>
                <a [routerLink]="['']" routerLinkActive="router-link-active"  class="btn btn-link">Volver al Index</a>
            </div>
        </div>
    </div>
</div>
